org: mcastroa
service: api-web-scraping-igp

provider:
  name: aws
  runtime: python3.13
  region: us-east-1
  memorySize: 1024
  timeout: 30
  stage: dev
  environment:
    TABLE_NAME: IgpSismos
  iam:
    role: arn:aws:iam::016748221635:role/LabRole


  iamRoleStatements:
    - Effect: Allow
      Action:
        - dynamodb:DescribeTable
        - dynamodb:PutItem
        - dynamodb:BatchWriteItem
        - dynamodb:UpdateItem
        - dynamodb:GetItem
      Resource:
        - arn:aws:dynamodb:${self:provider.region}:*:table/IgpSismos

functions:
  igp_scraper:
    handler: igp_scraper.lambda_handler
    package:
      include:
        - igp_scraper.py
    events:
      - http:
          path: /sismos/igp/last10
          method: get
          cors: true
          integration: lambda

resources:
  Resources:
    IgpSismosTable:
      Type: AWS::DynamoDB::Table
      Properties:
        TableName: IgpSismos
        BillingMode: PAY_PER_REQUEST
        AttributeDefinitions:
          - AttributeName: id
            AttributeType: S
        KeySchema:
          - AttributeName: id
            KeyType: HASH
